.maindiv
  .header
    .logo
      = image_tag("logo.png")
    .links
      .top-links
        .languages
          = link_to "english", "", :class => "languageen"
          \/
          = link_to "español", "", :class => "languagees"
          .clear
        %ul
          %li 
            = image_tag("facebook.png")
          %li  
            = image_tag("twitter.png")
          %li  
            = image_tag("googleplus.png") 
          %li  
            = image_tag("blogger.png")
          .clear  
        .clear  
      .menu
        %ul
          %li
            = link_to "services", "", :class => "weblinks"
          %li
            = link_to "about us", "", :class => "weblinks"
          %li
            = link_to "contact", "", :class => "weblinks"
      .clear
  .content  
    
