.content
  .mainview
    %p.pplt1 made of jade
    %p.pplt2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  .pplcontent
    .team.pplcontainers
      %ul
        %li.erik
          = image_tag("erik.png")
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        %li.huascar
          = image_tag("huascar.png")
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    .tools.pplcontainers
      %table
        %tbody
          %tr
            %td.tds
              = image_tag('blank/ruby.png', :class => "visible")
              = image_tag('color/ruby.png', :class => "none")
            %td.tds
              = image_tag('blank/ajax.png', :class => "visible")
              = image_tag('color/ajax.png', :class => "none")
            %td.tds
              = image_tag('blank/coffescript.png', :class => "visible")
              = image_tag('color/coffescript.png', :class => "none")
            %td.tds
              = image_tag('blank/rails.png', :class => "visible")
              = image_tag('color/rails.png', :class => "none")
            %td.tds
              = image_tag('blank/k.png', :class => "visible")
              = image_tag('color/k.png', :class => "none")
          %tr
            %td.tds
              = image_tag('blank/cs5.png', :class => "visible")
              = image_tag('color/cs5.png', :class => "none")
            %td.tds
              = image_tag('blank/basecamp.png', :class => "visible")
              = image_tag('color/basecamp.png', :class => "none")
            %td.tds
              = image_tag('blank/html5.png', :class => "visible")
              = image_tag('color/html5.png', :class => "none")
            %td.tds
              = image_tag('blank/jquery.png', :class => "visible")
              = image_tag('color/jquery.png', :class => "none")
            %td.tds
              = image_tag('blank/twitter.png', :class => "visible")
              = image_tag('color/twitter.png', :class => "none")
          %tr
            %td.tds
              = image_tag('blank/kp2.png', :class => "visible")
              = image_tag('color/kp2.png', :class => "none")
            %td.tds
              = image_tag('blank/googlemas.png', :class => "visible")
              = image_tag('color/googlemas.png', :class => "none")
            %td.tds
              = image_tag('blank/e.png', :class => "visible")
              = image_tag('color/e.png', :class => "none")
            %td.tds
              = image_tag('blank/vim.png', :class => "visible")
              = image_tag('color/vim.png', :class => "none")
            %td.tds
              = image_tag('blank/mysql.png', :class => "visible")
              = image_tag('color/mysql.png', :class => "none")
    .clear
