.content
  .formulario
    %p want to hire us?
    = semantic_form_for @contact do |f|
      = f.inputs do
        = f.input :name,    :input_html => { :class => 'name' }
        = f.input :mail,    :input_html => { :class => 'mail' }
        = f.input :project,  :input_html => { :class => 'proyect' }
      = f.submit "submit"
  .secretbase
    %p.stitle jade secret base
    %p.stext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  .clear    
     
