!!!
%html
  %head
    %title CodigoJade
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: params[:controller] }
    .maindiv
      .header
        .bar
          .logo
            = image_tag("logo.png")
          .links
            .top-links
              .languages
                = link_to "english", "", :class => "languageen"
                \/
                = link_to "español", "", :class => "languagees"
                .clear
              %ul
                %li
                  = image_tag("facebook.png")
                %li
                = image_tag("twitter.png")
                %li
                  = image_tag("googleplus.png")
                %li
                  = image_tag("blogger.png")
                .clear
              .clear
            .menu
              %ul
                %li
                  = link_to "services", services_path, :class => "weblinks"
                %li
                  = link_to "about us", about_us_path, :class => "weblinks"
                %li
                  = link_to "contact", contacts_path, :class => "weblinks"
              .clear
            .clear
      = yield
      .footer
        .codigo
          %h1
            codigo jade
          %ul
            %li
              about us
            %li
              jobs
            %li
              open source

        .social
          %h1
            social jade
          %ul
            %li
              facebook
            %li
              twitter
            %li
              google plus
        .blog
          %h1
            blog jade
          %ul
            %li
              [lorem ipsum dolor sit amet, consecuenter adipsicin]
            %li
              [sit amet, consecuenter adispiscing]
          %span
            2012 codigo jade all rights reserved.
        .clear

